!!!
%html
  %head
    %title= "RCVR #{@v.nil? ? "" : (" - " + @v.title)}"
    %link{:rel => "stylesheet", :href => "/style.css", :type => "text/css", :charset => "utf-8", :media => "screen"}/
    %script{:type => "text/javascript", :src => "/javascripts/jquery.js"}
    %script{:type => "text/javascript", :src => "/javascripts/progress.js"}
  %body{:id => @current_action}
    .header
      .logo RCVR
      .search
        %form{:method => :get, :action => "/youtube/audio"}
          %input{:class => :text, :type => :text, :length => 50, :name => :video_id}
          %input{:class => :submit, :type => :submit, :value => "Download Audio"}
      .nav
        %a{:href => "/"}= "Home/Download"
    .content
      = yield
    .footer
      .recents
        %h3 Recents
        - session[:recents].uniq.each do |recent|
          .recent
            %a{:href => "/downloading/" + recent }= recent